<meta charset="utf-8">
<meta name="author" content="Paul Lewis" />
<meta name="viewport" content="width=device-width">
<style>
  {% include "dist/templates/includes/styles.css" %}
</style>

<link rel="icon" href="/static/images/icon@512.png">
<link rel="manifest" href="{{ '/static/manifest.json' | add_hash }}">
<meta name="theme-color" content="#111111">

<meta property="og:url" content="https://dev-quests.appspot.com/">
<meta property="og:image" content="https://dev-quests.appspot.com/static/images/icon@512.png">
<meta property="og:image:width" content="512">
<meta property="og:image:height" content="512">
<meta property="og:title" content="Dev Quests!">
<meta property="og:description" content="Big adventures in tiny portions.">
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@aerotwist">
<meta name="twitter:title" content="Dev Quests!">
<meta name="twitter:description" content="Big adventures in tiny portions.">
<meta name="twitter:image" content="https://dev-quests.appspot.com/static/images/icon@512.png">